* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Open Sans", sans-serif;
}

body {
  background-color: #edeff5;
}

.d-flex {
  display: flex;
}

.navbar {
  background-color: #444;
  color: #fff;
  padding: 0 15%;
  font-weight: 600;
}

.logo {
  width: 3.5rem;
  height: 3.5rem;
  margin: 1.5rem 1rem;
  border-radius: 50%;
}

.navlinks {
  list-style: none;
  justify-content: space-around;
  flex: 11;
  padding: 35px 0;
  padding-inline-start: 0;
}

.navlinks a {
  text-decoration: none;
  color: #fff;
}

.navitems {
  padding: 0 0.2rem;
}

/* main secion */

.mainContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 1rem;
}

.mainContainer {
  width: 100%;
  padding: 0 3rem;
}

.movieContaier {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 3rem;
}

.movie {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  background-color: #807e7e;
  border-radius: 10px;
  padding: 1rem;
  margin: 2rem;
}

.picture {
  border-radius: 5px;
  width: 80%;
  height: 20rem;
  transition: all 0.4s ease-in-out;
  padding-top: 1rem;
}

.space-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 80%;
}

.space {
  text-align: center;
  margin-bottom: 0.4rem;
  color: #fff;
}

.fa-heart {
  color: #e21010;
}

.like-count {
  color: #771f1f;
  font-weight: 700;
}

.comments {
  padding: 0.4rem 1rem;
  margin: 0.4rem 0;
  text-transform: uppercase;
  background-color: #e7a921;
  color: #fff;
  font-weight: 600;
  cursor: pointer;
  border-radius: 8px;
  border-color: #771f1f;
}

.comments:hover {
  padding: 0.4rem 1rem;
  margin: 0.4rem 0;
  text-transform: uppercase;
  background-color: #fff;
  color: #e7a921;
  font-weight: 600;
  cursor: pointer;
  border-radius: 8px;
  border-color: #771f1f;
}

span {
  display: flex;
  margin-bottom: 0.4rem;
}

/* footer */

.footer {
  text-align: center;
  padding: 2rem 0;
  color: #fff;
  background-color: #444;
}

/* Comment popup page */

.comment-popup {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  position: absolute;
  top: 6.5rem;
  left: 4rem;
  width: 85%;
  margin-right: 4rem;
  transform: translateY(-100rem);
  border: 2px solid red;
  margin-left: auto;
}

.active {
  transform: translateY(0);
}

.deactive {
  transform: translateY(-10000rem);
}

.comment-img {
  width: 100%;
  height: 16rem;
  transition: all 0.4s ease-in-out;
}

.com-header {
  margin-top: 0.6rem;
  font-size: 3rem;
  text-align: center;
}

.discription {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 1rem;
  justify-content: space-between;
}
